// Define variables for margin and padding
$margin-p: 10px;
$padding-body: 0px;
;
//Apply styles using nested declarations
body {
  margin: $padding-body;
  padding: $padding-body;

  p {
    margin: $margin-p;
  }
}