/* Define variables */
$base-font-size: 14px;
$heading-font-size: 16px;
$smaller-heading-difference: 12px;

/* Global styles */
body {
  font-size: $base-font-size;

  /* Styles for h1 inside body */
  h1 {
    font-size: $heading-font-size;
      /* Styles for h1 with class .smaller inside body */
    &.smaller {
        font-size: $smaller-heading-difference;
  }
  }


}